<header>

  <h1>Seadrah Berger</h1>

  <h2 id = 'subtitle'>a people-first programmer</h2>

  <nav>
    <ul>
      <li><a href="/">Resume</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </nav>

</header>