<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Form</title>

  <link rel="icon" href="public/img/star.png">
  <link rel="stylesheet" href="public/styles/style.css">

</head>


<body>

  <main>

    <h1>Contact Form</h1>

    <form>

      <label>
      First Name: 
          <input type="text" id="fname" name="fname">
      </label>

      <label>
      Last Name: 
          <input type="text" id="lname" name="lname">
      </label>

      <label>
      Job Title: 
          <input type="text" id="jtitle" name="jtitle">
      </label>

      <label>
      Company: 
          <input type="text" id="company" name="company">
      </label>

      <label>
      LinkedIn URL: 
          <input type="text" id="linkedin" name="linkedin">
      </label>

      <label>
      Email Address: 
          <input type="text" id="email" name="email">
      </label>

      <label>
        How did we meet?
        <select id="meet" name="meet">
          <option value="none">Please select</option>
          <option value="coworker">Coworker</option>
          <option value="mentor">MinT</option>
          <option value="friend">Mutual Friend</option>
          <option value="recruit">Recruiting Event</option>
          <option value="social">Social Media / Online</option>
        </select>
      </label>

      <label>
      Other (please specify):
          <input type="text" id="other" name="other">
      </label>

      <label for="message">Message:
          <textarea rows="5" id="message" name="message"></textarea>
      </label>

      <label> <input type="checkbox" name="mlist" name="mlist" checked> Please add me to your mailing list </label>

      <p>Please choose an email format:</p>
      <label for="html">
        <input type="radio" id="html" value="html" name="html"> HTML
      </label>

      <label for="text">
        <input type="radio" id="text" value="text" name="text"> Text
      </label>

      <button type="submit" id="submit-button">Submit</button>
    </form>

  </main>
  
</body>

</html>