<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Form</title>

  <link rel="icon" href="/img/star.png">
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/js/contact.js" defer></script>

</head>


<body>
  <main>

    <h1>Contact Form</h1>

    <form id="contact-form" action="/submit-contact" method="post">


      <label id="first" for="fname">
      First Name
          <input type="text" id="fname" name="fname">
          <span class = "err" id = "err-fname">
           First name is required
        </span>
      </label>

      <label id="last" for="lname">
      Last Name 
          <input type="text" id="lname" name="lname">
          <span class = "err" id = "err-lname">
          Last name is required
        </span>
      </label>

      <label id="job" for="jtitle">
      Job Title
          <input type="text" id="jtitle" name="jtitle">
      </label>

      <label id="com" for="company">
      Company
          <input type="text" id="company" name="company">
      </label>

      <label id="linklabel" for="linkedin">
      LinkedIn URL
          <input type="text" id="linkedin" name="linkedin">
          <span class = "err" id = "err-linkedin">
          Must be in format: "https://linkedin.com/in/xxx"
        </span>
      </label>

      <label for="email" id="emaillabel">
      Email Address
          <input type="text" id="email" name="email">
          <span class = "err" id = "err-email">
          Email must be in format "xxxx@xxx.xxx"
        </span>
        <span class = "err" id = "err-email2">
          Email is required for mailing list
        </span>
      </label>

      <label for="meet" id = "meetlabel">
        How did we meet?
        <span class = "err" id="err-meet">This field is required.</span>
        <select id="meet" name="meet">
          <option value="none">Please select</option>
          <option value="coworker">Coworker</option>
          <option value="mentor">MinT</option>
          <option value="friend">Mutual Friend</option>
          <option value="recruit">Recruiting Event</option>
          <option value="social">Social Media / Online</option>
          <option value="other">Other</option>
        </select>
      </label>

      <label for="other" id = "otherlabel">
      Other (please specify)
          <input type="text" id="other" name="other">
          <span class = "err" id="err-other">This field is required.</span>
      </label>

      <label for="message" id = "messlabel">Message
          <textarea rows="5" id="message" name="message"></textarea>
      </label>

      <label for="mlist" id="mlabel"> <input type="checkbox" id="mlist" name="mlist" checked> Please add me to your mailing list </label>

      <div id = "format">
         <p>Choose an email format:</p>
          <label for="html">
            <input type="radio" id="html" value="html" name="format"> HTML
          </label>

          <label for="text">
            <input type="radio" id="text" value="text" name="format"> Text
        </label>
      </div>

      <button type="submit" id="submit-button">Submit</button>
    
    <a id = "gith" href = "https://github.com/seadrahbe/contact-form">GitHub Link</a>
    </form>

  </main>
  
</body>

</html>